@media (prefers-reduced-motion: no-preference){
  * {
  scroll-behavior: smooth;
  }
}

/* Green color: #9ee2bfff */
/* Light green: #e0f2e9ff */

* {
  box-sizing: border-box;
}

body {
  background: whitesmoke;
  color: black;
  font-family: Rubik;
  margin: 0;
}

header, footer {
  width: 100%;
  height: 70px;
  background-color: #9ee2bfff;
  display: flex;
  align-items: center;
  z-index: 999; 
}

header {
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
  color: black; 
  padding-left: 5px;
  padding-top: 10px;
}

.logohead {
  font-size: 20px; 
  padding-top: 5px; 
  padding-bottom: 0; 
  margin: 0; 
}

.logosub {
  margin: 0; 
  padding: 0; 
  font-size: 1em; 
}


a[class~="logo"]:hover {
  color: whitesmoke; 
}


h1 {
  font-size: min(5vw, 1.2em);
  text-align: center;
}



nav {
  justify-content: right;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 10px; 
  height: 100%;
}

nav > ul > li {
  color: black;
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;
}

nav > ul > li > a:hover, footer a:hover {
  border-bottom: 3px double black; 
  font-weight: bold;
  padding: 4px; 
  color: #1b1b32;
  cursor: pointer;
}

li > a {
  color: inherit;
  text-decoration: none;
}

/* Main Section Stuff */

main {
  padding-top: 50px;
}

section {
  width: 80%;
  margin: 0;
  max-width: 600px;

}


#homepage {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: left;
}

#pfp {
  width: 200px; 
  height: auto; 
  margin: 5px; 
  border-radius: 20px;   
  display: flex; 
  flex-wrap: wrap; 
  position: absolute;
  top: 90px; 
}

#bio {
  margin: 5px; 
  width: calc(100% - 30px);
  display: flex; 
  flex-wrap: wrap; 
  position: relative;
  top: 90px; 
  left: 250px;
}




/* Footer stuff */ 



footer,
footer a {
  color: black;
  text-align: center;
  padding: 0.3em;
  justify-content: center; 
  text-decoration: none; 
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}